{
    "extends": ["eslint:recommended", "airbnb", "prettier", "prettier/react"],
    "plugins": ["prettier"],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ]
        // "react/prop-types": 0,
        // "no-underscore-dangle": 0,
        // "import/imports-first": ["error", "absolute-first"],
        // "import/newline-after-import": "error",
        // "import/prefer-default-export": 0,
        // "semi": "error",
        // "jsx-a11y/anchor-is-valid": "off",
        // "jsx-a11y/label-has-associated-control": "off",
        // "react/jsx-props-no-spreading": "off",
        // "no-plusplus": "off"
    },
    "globals": {
        "window": true,
        "document": true,
        "localStorage": true,
        "FormData": true,
        "FileReader": true,
        "Blob": true,
        "navigator": true,
        "Headers": true,
        "Request": true,
        "fetch": true,
        "sessionStorage": true
    },
    "parser": "babel-eslint"
}
